{
  "openapi": "3.1.0",
  "info": {
    "title": "Geomacro Agent Pay-Per-Call API",
    "version": "1.1.0-prelaunch",
    "description": "Prelaunch contract for machine-readable geopolitical and macro risk intelligence. A natural-language question can first be resolved locally into an exact governed request without payment. Production pricing is authoritative only in the live HTTP 402 challenge or provider plan. Risk Gate context never authorizes transaction execution.",
    "contact": {
      "name": "Geomacro",
      "email": "contact@geomacro.live",
      "url": "https://geomacro.live"
    },
    "x-guidance": "For a plain-language question, call /api/agent/question-preflight first and use its exact paid_request. For an already structured request, call the free availability endpoint first. Pay only when deliverability is proven. Every paid response preserves execution_authorized=false."
  },
  "servers": [{ "url": "https://geomacro.live" }],
  "paths": {
    "/api/agent/question-preflight": {
      "post": {
        "summary": "Resolve a natural-language risk question before payment",
        "operationId": "preflightGeomacroPaidQuestion",
        "description": "Deterministically resolves supported country/corridor names, topic and bounded intent using Geomacro's internal registry and rules. It does not call an external LLM, does not return premium intelligence, and never charges. A successful response includes the exact paid_request and query_plan_hash to use on the paid resource.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/PaidQuestionPreflight" }
            }
          }
        },
        "responses": {
          "200": { "description": "Question resolved and requested intelligence is currently deliverable. No payment has occurred." },
          "400": { "description": "Question, geography, intent or requested historical semantics cannot be resolved safely." },
          "422": { "description": "Question resolved but required intelligence is not currently fully deliverable; payment must not be requested." },
          "503": { "description": "Preflight dependency unavailable; payment remains disabled." }
        }
      }
    },
    "/api/x402/risk/availability": {
      "post": {
        "summary": "Check structured-query deliverability before payment",
        "operationId": "checkGeomacroX402Availability",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/AdaptiveQuery" }
            }
          }
        },
        "responses": {
          "200": { "description": "Deliverability result. This call never charges." },
          "400": { "description": "Invalid or unsupported query" },
          "422": { "description": "Requested intelligence is not currently deliverable and payment must not be requested" },
          "503": { "description": "Availability cannot be proven; payment remains disabled" }
        }
      }
    },
    "/api/x402/intelligence": {
      "get": {
        "summary": "Inspect the canonical Coinbase-compatible x402 resource",
        "operationId": "getGeomacroX402Resource",
        "security": [],
        "responses": {
          "200": { "description": "Current runtime resource metadata" },
          "503": { "description": "Production rail is not configured or remains locked" }
        }
      },
      "post": {
        "summary": "Buy adaptive geopolitical and macro risk intelligence via Coinbase-compatible x402",
        "operationId": "buyGeomacroAdaptiveRiskIntelligence",
        "description": "The first valid unpaid request returns HTTP 402 with authoritative x402 payment requirements. Payment is bound to the product and exact query_plan_hash. A paid retry returns the exact durably prepared structured intelligence after verification/settlement and replay-safe delivery checks.",
        "security": [],
        "x-payment-info": {
          "provider": "coinbase_x402",
          "price": "runtime-402-challenge",
          "currency": "USDC",
          "protocols": [{ "x402": {} }],
          "production_enabled": false,
          "question_preflight_endpoint": "/api/agent/question-preflight",
          "availability_endpoint": "/api/x402/risk/availability",
          "raw_question_sent_to_payment_provider": false,
          "prepared_payload_encrypted_at_rest": true
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/AdaptiveQuery" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Paid structured response. execution_authorized remains false.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AdaptiveResponse" }
              }
            }
          },
          "402": { "description": "Payment required or payment proof invalid. PAYMENT-REQUIRED is authoritative." },
          "409": { "description": "Replay conflict, duplicate in progress, or payment proof bound to different business terms" },
          "422": { "description": "Not currently deliverable; payment is not accepted" },
          "503": { "description": "Provider, encrypted delivery ledger, intelligence dependency, or reconciliation state unavailable; fails closed" }
        }
      }
    },
    "/api/x402/circle/intelligence": {
      "get": {
        "summary": "Inspect the Circle Gateway x402 resource",
        "operationId": "getGeomacroCircleGatewayX402Resource",
        "security": [],
        "responses": {
          "200": { "description": "Current runtime Circle Gateway resource metadata" },
          "503": { "description": "Circle production rail is not configured, not currently supported, or remains locked" }
        }
      },
      "post": {
        "summary": "Buy the same adaptive intelligence product via Circle Gateway x402",
        "operationId": "buyGeomacroAdaptiveRiskIntelligenceCircleGateway",
        "description": "Uses the same governed query plan, response contract and encrypted durable delivery boundary. Circle Gateway production remains disabled before coordinated launch.",
        "security": [],
        "x-payment-info": {
          "provider": "circle_gateway_x402",
          "price": "runtime-402-challenge",
          "currency": "USDC",
          "approved_initial_network": "eip155:8453",
          "arc_mainnet_enabled": false,
          "protocols": [{ "x402": {} }],
          "production_enabled": false,
          "question_preflight_endpoint": "/api/agent/question-preflight",
          "availability_endpoint": "/api/x402/risk/availability"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/AdaptiveQuery" }
            }
          }
        },
        "responses": {
          "200": { "description": "Paid structured response with execution_authorized=false" },
          "402": { "description": "Circle Gateway payment required or payment proof invalid" },
          "409": { "description": "Replay, duplicate-processing, or business-term conflict" },
          "422": { "description": "Not currently deliverable; payment is not accepted" },
          "503": { "description": "Circle provider, encrypted delivery ledger, intelligence dependency, or settlement reconciliation state unavailable; fails closed" }
        }
      }
    },
    "/api/x402/nevermined/intelligence": {
      "post": {
        "summary": "Nevermined provider adapter for the same adaptive intelligence product",
        "operationId": "buyGeomacroAdaptiveRiskIntelligenceNevermined",
        "security": [],
        "x-payment-info": {
          "provider": "nevermined",
          "price": "provider-plan-runtime",
          "currency": "provider-plan",
          "protocols": [{ "x402": {} }],
          "production_enabled": false,
          "question_preflight_endpoint": "/api/agent/question-preflight",
          "availability_endpoint": "/api/x402/risk/availability"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/AdaptiveQuery" }
            }
          }
        },
        "responses": {
          "200": { "description": "Paid structured response with execution_authorized=false" },
          "402": { "description": "Provider payment required or proof invalid" },
          "409": { "description": "Replay or idempotency conflict" },
          "422": { "description": "Not currently deliverable; payment is not accepted" },
          "503": { "description": "Provider or intelligence dependency unavailable; fails closed" }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "PaidQuestionPreflight": {
        "type": "object",
        "additionalProperties": false,
        "required": ["question"],
        "properties": {
          "question": { "type": "string", "minLength": 4, "maxLength": 2000 },
          "client_request_id": { "type": "string", "minLength": 4, "maxLength": 128 },
          "max_age_seconds": { "type": "integer", "minimum": 1, "maximum": 94608000 },
          "evidence": { "enum": ["required", "summary"] },
          "detail": { "enum": ["compact", "standard", "full"] },
          "risk_gate_context": { "$ref": "#/components/schemas/RiskGateContext" }
        }
      },
      "AdaptiveQuery": {
        "type": "object",
        "additionalProperties": false,
        "required": ["subjects"],
        "properties": {
          "schema_version": { "const": "geomacro.agent-query.v1" },
          "question": { "type": "string", "minLength": 3, "maxLength": 2000 },
          "subjects": {
            "type": "array",
            "minItems": 1,
            "maxItems": 25,
            "items": {
              "oneOf": [
                { "$ref": "#/components/schemas/CountrySubject" },
                { "$ref": "#/components/schemas/CorridorSubject" }
              ]
            }
          },
          "topics": { "type": "array", "maxItems": 16, "items": { "type": "string" } },
          "intent": { "enum": ["single_subject", "comparison", "ranking_filter", "corridor", "change_since", "audit", "risk_gate"] },
          "ranking": {
            "type": "object",
            "additionalProperties": false,
            "required": ["metric"],
            "properties": {
              "metric": { "const": "risk_object_score" },
              "order": { "enum": ["high_to_low", "low_to_high"] },
              "limit": { "type": "integer", "minimum": 1, "maximum": 25 }
            }
          },
          "change": {
            "type": "object",
            "additionalProperties": false,
            "required": ["baseline"],
            "properties": { "baseline": { "const": "previous_published" } }
          },
          "as_of": { "type": "string", "format": "date-time" },
          "max_age_seconds": { "type": "integer", "minimum": 1, "maximum": 94608000 },
          "evidence": { "enum": ["required", "summary"] },
          "detail": { "enum": ["compact", "standard", "full"] },
          "risk_gate_context": { "$ref": "#/components/schemas/RiskGateContext" },
          "client_request_id": { "type": "string", "minLength": 4, "maxLength": 128 }
        }
      },
      "CountrySubject": {
        "type": "object",
        "additionalProperties": false,
        "required": ["type", "country_iso3"],
        "properties": {
          "type": { "const": "country" },
          "country_iso3": { "type": "string", "pattern": "^[A-Za-z]{3}$" }
        }
      },
      "CorridorSubject": {
        "type": "object",
        "additionalProperties": false,
        "required": ["type", "origin_country_iso3", "destination_country_iso3"],
        "properties": {
          "type": { "const": "corridor" },
          "origin_country_iso3": { "type": "string", "pattern": "^[A-Za-z]{3}$" },
          "destination_country_iso3": { "type": "string", "pattern": "^[A-Za-z]{3}$" }
        }
      },
      "RiskGateContext": {
        "type": "object",
        "additionalProperties": false,
        "required": ["action_type"],
        "properties": {
          "policy_preset": { "enum": ["balanced", "cautious", "strict"] },
          "action_type": { "enum": ["treasury_payment", "vendor_payment", "agent_payment", "exposure_review"] },
          "amount_usdc": { "type": "number", "exclusiveMinimum": 0, "maximum": 1000000000 }
        }
      },
      "AdaptiveResponse": {
        "type": "object",
        "required": ["schema_version", "product", "query_plan_hash", "delivered_product_hash", "execution_authorized"],
        "properties": {
          "schema_version": { "const": "geomacro.adaptive-intelligence-response.v1" },
          "product": { "const": "geomacro_adaptive_risk_intelligence_v1" },
          "query_plan_hash": { "type": "string", "pattern": "^[0-9a-f]{64}$" },
          "delivered_product_hash": { "type": "string", "pattern": "^[0-9a-f]{64}$" },
          "execution_authorized": { "const": false },
          "payment": { "type": "object", "additionalProperties": true }
        },
        "additionalProperties": true
      }
    }
  }
}
