openapi: 3.1.0
info:
  title: Geomacro Agentic Risk Intelligence Demo
  version: 1.0.0-demo
  description: >-
    Test Geomacro's signed geopolitical and macro risk pre-flight for agents.
    The free sandbox exposes the same risk-resource shape used by the Circle
    x402 paid demo path. Structural observations are evidence-only and are not
    hidden inputs to GRI v1.2. Geomacro never authorizes execution.
  contact:
    email: contact@geomacro.live
servers:
  - url: https://geomacro.live
    description: Public Geomacro website and demo API
paths:
  /api/demo/preflight:
    post:
      operationId: runFreeRiskPreflightDemo
      summary: Run a free signed risk pre-flight demo
      description: >-
        Free public sandbox for builders evaluating the Risk Gate resource.
        No wallet or payment is required. Current demo subjects are allowlisted
        while country and corridor coverage is validated.
      tags: [Risk Intelligence]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PreflightRequest'
            examples:
              usaChina:
                value:
                  subject:
                    type: corridor
                    origin_country_iso3: USA
                    destination_country_iso3: CHN
                  policy_preset: cautious
                  action_type: agent_payment
                  amount_usdc: 10000
      responses:
        '200':
          description: Signed risk pre-flight response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreflightResponse'
        '400':
          description: Invalid or unsupported demo request
        '429':
          description: Public sandbox rate limit reached
        '503':
          description: Risk resource unavailable; request failed closed
  /api/agent/risk:
    post:
      operationId: buyRiskPreflight
      summary: Buy a signed risk pre-flight with Circle x402
      description: >-
        Agent-native pay-per-call risk resource. A valid unpaid request returns
        HTTP 402 payment requirements. An x402-compatible agent pays in USDC on
        Arc Testnet through Circle Gateway and retries with a payment-signature
        header. Demo price: 0.001 USDC per call. This is test pricing, not
        institutional pricing.
      tags: [Agent Commerce]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PreflightRequest'
      responses:
        '200':
          description: Paid signed risk resource delivered
          headers:
            PAYMENT-RESPONSE:
              description: Base64-encoded x402 settlement metadata
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreflightResponse'
        '402':
          description: Payment Required or payment verification/settlement failure
          headers:
            PAYMENT-REQUIRED:
              description: Base64-encoded x402 payment requirements on unpaid requests
              schema:
                type: string
        '503':
          description: x402 seller configuration or risk resource unavailable
components:
  schemas:
    CountrySubject:
      type: object
      required: [type, country_iso3]
      properties:
        type:
          const: country
        country_iso3:
          type: string
          pattern: '^[A-Z]{3}$'
          examples: [USA]
    CorridorSubject:
      type: object
      required: [type, origin_country_iso3, destination_country_iso3]
      properties:
        type:
          const: corridor
        origin_country_iso3:
          type: string
          pattern: '^[A-Z]{3}$'
          examples: [USA]
        destination_country_iso3:
          type: string
          pattern: '^[A-Z]{3}$'
          examples: [CHN]
    PreflightRequest:
      type: object
      required: [subject]
      properties:
        subject:
          oneOf:
            - $ref: '#/components/schemas/CountrySubject'
            - $ref: '#/components/schemas/CorridorSubject'
        policy_preset:
          type: string
          enum: [balanced, cautious, strict]
          default: balanced
        action_type:
          type: string
          enum: [treasury_payment, vendor_payment, agent_payment, exposure_review]
          default: agent_payment
        amount_usdc:
          type: number
          exclusiveMinimum: 0
          maximum: 1000000000
        client_request_id:
          type: string
          minLength: 4
          maxLength: 128
    PreflightResponse:
      type: object
      required:
        - ok
        - request_id
        - mode
        - risk_gate
        - risk_object
        - structural_context
        - boundaries
      properties:
        ok:
          const: true
        request_id:
          type: string
          format: uuid
        mode:
          type: string
          enum: [PUBLIC_SANDBOX, X402_PAID]
        payment:
          type: object
          additionalProperties: true
        risk_gate:
          type: object
          required: [decision, execution_authorized]
          properties:
            decision:
              type: string
              enum: [CONTINUE, REDUCE_LIMIT, REQUIRE_APPROVAL, PAUSE]
            execution_authorized:
              const: false
          additionalProperties: true
        risk_object:
          type: object
          additionalProperties: true
        structural_context:
          type: object
          required: [status, methodology_status, observations]
          properties:
            status:
              type: string
              enum: [AVAILABLE, UNAVAILABLE, NOT_CONFIGURED]
            methodology_status:
              const: EVIDENCE_ONLY_NOT_IN_GRI_V1_2
            observations:
              type: array
              items:
                type: object
                additionalProperties: true
          additionalProperties: true
        gri_context:
          oneOf:
            - type: object
              additionalProperties: true
            - type: 'null'
        boundaries:
          type: object
          required:
            - execution_authorized
            - structural_evidence_is_not_gri_v1_2_input
            - corridor_model
          properties:
            execution_authorized:
              const: false
            structural_evidence_is_not_gri_v1_2_input:
              const: true
            corridor_model:
              const: directional endpoint-composed pilot
          additionalProperties: true
